body {
    /*margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;*/
	background-image: url(Pattern3D_06.png);
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
}
#fullscreen-setter {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer
}
#keyboard {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    display: none;
}
#backButton {
    position: absolute;
    left: 0;
    top: 50%;
    display: none;
    z-index: 100;
}
.iosscrollable {
    height: auto;
    -webkit-overflow-scrolling: touch;
}

.u-half-width {
  width: 47.5%;
  box-sizing: border-box; 
  float: left;
}

.rpad{
    margin-right: 5%;
}

select#quicklinks {
    max-width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"]
{
    max-width: 100%;
}

@media screen and (max-width: 550px) {
    input[type="number"] {
        width: 100%;
    }
    select#instrument {
        width: 100%;
    }

}
@media screen and (max-width: 350px) {
    .button, button, input[type="submit"], input[type="reset"], input[type="button"]
    {
        padding: 0 10px;
    }
}
